@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #1a73e8;
    --white-text: #fff;
    --text: #000;
}

header {
    background-color: var(--blue);
    height: 70px;
    width: 100vw;
    color: var(--white-text);
    display: flex;
}

header > div.header-title > h1 > span > img {
    height: 50px;
    width: 50px;

    transform: translateY(11,5%);
    display: inline-block;
    vertical-align: center;
}

header > div.header-title > h1 {
    height: 50px;
}

nav {
    max-width: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 10px;
}

nav > div.item {
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

nav > div.item > span.material-symbols-outlined {
    transform: translateY(-0.1em);
    display: inline-block;
    vertical-align: middle;
}

nav > div.item:hover {
    background-color: rgb(203, 229, 238);
    transition: .3s;
}

.selected-menu {
    background-color: var(--blue);
}